.chart-display-area {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

.sentiment-analysis-container {
    padding: 20px;
    width: 100%;
    max-width: 100dvw
}

.chart-container {
    position: relative;
}

.sentiment-table, .sentiment-table th, .sentiment-table td {
    border: 1px solid white;
}

.sentiment-table {
    width: 100%;
    max-width: 100dvw;
    margin: 10px;
    align-self: center;
}

.sent-pos {
    background-color: greenyellow;
    color: black
}

.sent-neg {
    background-color: red;
    color: white
}

.sent-neut {
    background-color: gray;
    color: white
}

.error-area {
    color: rgb(248, 75, 75);
}

.chart-title {
    font-size: 2.5em;
    text-align: center;
    max-width: 100dvw
}

.form-input-group {
    margin-top: 1em;
    margin-bottom: 1em
}